<div class="cronixie_playground">
    <div class="cronixie_body" data-orientation="{{config.orientation}}">
        <div class="nixie nixie0" data-d="{{ds[0]}}"></div>
        <div class="nixie nixie1" data-d="{{ds[1]}}"></div>
        <div class="nixie nixie2" data-d="{{ds[2]}}"></div>
        <div class="nixie nixie3" data-d="{{ds[3]}}"></div>
        <div class="nixie nixie4" data-d="{{ds[4]}}"></div>
        <div class="nixie nixie5" data-d="{{ds[5]}}"></div>
    </div>
</div>
<style>
#{{identifier}}{
   --wii: {{config.width}};
  }
</style>
